<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CSS: Good and Evil</title>
    <link rel='stylesheet' href='/styles/reset.css'>
    <link rel='stylesheet' href='/styles/style.css'>
  </head>
  <body>


    {{{body}}}

  </body>
</html>
